**/.DS_Store
**/.idea
**/dist
**/.vagrant
target
**/node_modules/*
*.log
npm-debug.log
lottery-front-end/webapp.tar.gz
**/application.home_IS_UNDEFINED
**/logs
.cache-main
.cache-tests
.classpath
.project
.settings/
.sonar
bin/
*.iml
.sass-cache/
*.class
local.sbt
.virtualenv
